.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row > .left, #lezioni .row > .right{
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row > .left,
#steps .row > .central,
#steps .row > .right{
  float: left;
  width: 33%;
}

#steps{
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row > .first,
#why .row > .second,
#why .row > .third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color:#428bca;
  border-radius:50%;
  padding:30px
}

/* COMMON */

[background="grey"]{
  background-color: #f9f9f9;
}

img{
  height: 200px;
}

.clear {
  clear:both;
}

@media screen and (max-width:420px) {

  body{
    margin:0;
    width: 100%;
    background:white;
    box-sizing: border-box;
  }

  [background="grey"]{
    background-color:white;
  }


  hr{
    display:none;
  }

  .row {
    width:100%;
    margin-top:0;
    font-size: 1em;
    color:white;
    font-family: sans-serif;
  }

  .row h3 {
    font-size: 1.4em;
    margin-top: 5px;
    text-transform:uppercase;
  }

  h1{
    color:white;
    text-transform:uppercase;
    border-radius: 10px;
    display:inline-block;
    border:1px solid white;
    padding: 5px;
  }

  #lezioni h1{
    background: rgba(0, 156, 255, 0.8);
  }

  #steps h1{
    background: rgba(73, 66, 48,0.8);
  }

  #why h1{
    background: rgba(164, 109, 35,0.8);
  }

  #lezioni {
    background: rgba(0, 156, 255, 0.8);
    padding-bottom:3%;
    border-radius: 10px;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
  }

  #steps {
    background: rgba(73, 66, 48,0.8);
    padding-bottom:3%;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
  }

  #why{
    background: rgba(164, 109, 35,0.8);
    padding-bottom:3%;
    border-radius: 10px;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
  }

  #lezioni .row > .left, #lezioni .row > .right,
  #steps .row > .left, #steps .row > .central, #steps .row > .right,
  #why .row > .first, #why .row > .second, #why .row > .third{
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    float:none;
  }

  #lezioni img,
  #steps img,
  #why img{
    margin-top: 2%;
  }

  /* row lezioni */
  #lezioni div.left{
    background:lightblue;
    padding-top:10px;
    margin-bottom:10px;
  }

  #lezioni div.right{
    background:rgb(39, 108, 224);
  }
  /* |row lezioni */

  /* row steps */

  #steps div.row div.left,
  #steps div.row div.right{
    background:rgba(232, 186, 129, 0.88);
  }

  #steps div.row div.central{
  background:rgba(79, 167, 77, 0.56);
  margin-top:10px;
  margin-bottom: 10px;
  }

  /* |row steps */

  /* row why */
  #why div.row div.first,
  #why div.row div.second,
  #why div.row div.third{
    margin-top:0;
  }


  #why div.row div.first,
  #why div.row div.third{
    background:rgba(208, 72, 22, 0.65);
  }

  #why div.row div.second{
    background:rgba(119, 62, 52, 0.7);
    margin-top:10px;
    margin-bottom: 10px;
  }
  /* |row why */

}
